{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{{ form.csrf_token }}

{% block page_content %}
<div class="page-header">
    <h1>Elastic"Search"</h1>
        <h5>Is {{ moment(current_time).format('LLLL') }}.</h5>
        <h5>That was {{ moment(current_time).fromNow(refresh=True) }}</h5>
</div>
<div class="container">
    <div>{{ wtf.quick_form(view_search) }}</div>
    <div>{{ wtf.quick_form(view_upload) }}</div>
        {% if view_results_hard %}
        <ul>
            <p>Data tal cual el resultado del metodo</p>
            <li>{{ view_results_hard }}</li>
        </ul>
</div>  {% endif %}

{% endblock %}
